@import "../../styles/variables.scss";
@import "../../styles/placeholders.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &__overlay {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    background-color: $colorWhite;
    border: solid 1px $colorWhisper;
    object-fit: contain;
    border-radius: 8px;
    padding: 10px 20px;
    width: 500px;
  }
}
