@import "../../styles/variables.scss";
@import "../../styles/placeholders.scss";

.header {
  border-bottom: 1px solid $colorBlackBoxShadow;
  margin-bottom: 20px;

  &__wrapper {
    @extend %wrapper;
    background: $colorWhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 96px;
  }
  &__logo {
    height: 35px;
  }
}
