@import "../../styles/variables.scss";
@import "../../styles/placeholders.scss";

.image {
  background-color: $colorWhite;
  margin: 0 auto;
  &__product {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
